app/tamplates/ajax/popup-reg.jade
- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Регистрация
	form.no-transform(action="")

		div(elem="wrap-2")
			input.input-style(elem="input" type="text" name="name" autocomplete="name" placeholder="ФИО*" required="")

			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")

			input.js-tel.input-style(elem="input" type="tel" name="phone" autocomplete="tel" placeholder="Номер телефона*" required="")

			input.input-style(elem="input" type="text" name="address" autocomplete="shipping street-address" placeholder="Адрес")

			input.input-style(elem="input" type="password" name="pass" placeholder="Пароль*" required="")

			input.input-style(elem="input" type="password" name="repass" placeholder="Подтвердите пароль*" required="")
		.text-center
			button(elem="reg-btn") Отправить

dist/ajax/popup-reg.html

<div class="popup-body">
  <div class="popup-body__title">Регистрация</div>
  <form class="no-transform" action="">
    <div class="popup-body__wrap-2">
      <input class="input-style popup-body__input" type="text" name="name" autocomplete="name" placeholder="ФИО*" required>
      <input class="input-style popup-body__input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required>
      <input class="js-tel input-style popup-body__input" type="tel" name="phone" autocomplete="tel" placeholder="Номер телефона*" required>
      <input class="input-style popup-body__input" type="text" name="address" autocomplete="shipping street-address" placeholder="Адрес">
      <input class="input-style popup-body__input" type="password" name="pass" placeholder="Пароль*" required>
      <input class="input-style popup-body__input" type="password" name="repass" placeholder="Подтвердите пароль*" required>
    </div>
    <div class="text-center">
      <button class="popup-body__reg-btn">Отправить</button>
    </div>
  </form>
</div>
