app/tamplates/ajax/popup-acc.jade
- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Личный кабинет
	form.no-transform(action="")
		div(elem="wrap-1")
			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")
			input.input-style(elem="input" type="password" name="pass" placeholder="Пароль*" required="")
			.text-center
				button(elem="login-btn") Войти
	hr.hr
	.clearfix
		a.popup(elem="forget-link" class="fancybox.ajax" href="ajax/popup-forget.html") Забыли пароль?
		a.popup(elem="reg-link" class="fancybox.ajax" href="ajax/popup-reg.html") Зарегистрироваться

dist/ajax/popup-acc.html

<div class="popup-body">
  <div class="popup-body__title">Личный кабинет</div>
  <form class="no-transform" action="">
    <div class="popup-body__wrap-1">
      <input class="input-style popup-body__input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required>
      <input class="input-style popup-body__input" type="password" name="pass" placeholder="Пароль*" required>
      <div class="text-center">
        <button class="popup-body__login-btn">Войти</button>
      </div>
    </div>
  </form>
  <hr class="hr">
  <div class="clearfix"><a class="popup fancybox.ajax popup-body__forget-link" href="ajax/popup-forget.html">Забыли пароль?</a><a class="popup fancybox.ajax popup-body__reg-link" href="ajax/popup-reg.html">Зарегистрироваться</a></div>
</div>
