app/tamplates/ajax/popup-forget.jade
- var href = 'javascript:void(0)';
div(block="popup-body")
	div(elem="title") Восстановление пароля
	p(elem="descr") Пароль будет отправлен на Вашу электронную почту
	form.no-transform(action="")

		div(elem="wrap-1")

			input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required="")

		.text-center
			button(elem="reg-btn") Отправить

dist/ajax/popup-forget.html

<div class="popup-body">
  <div class="popup-body__title">Восстановление пароля</div>
  <p class="popup-body__descr">Пароль будет отправлен на Вашу электронную почту</p>
  <form class="no-transform" action="">
    <div class="popup-body__wrap-1">
      <input class="input-style popup-body__input" type="email" name="email" autocomplete="email" placeholder="Электронная почта*" required>
    </div>
    <div class="text-center">
      <button class="popup-body__reg-btn">Отправить</button>
    </div>
  </form>
</div>
