dist/checkout.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A PASSION PLAY (ef) Брюки деним+ПОДАРОК (2) 15W-250 - Женская коллекция в магазинах 5Карманов. Закажите доставку понравившегося Вам товара в ближайщий к Вам магазин 5KarmaNov - это бесплатно!">
    <meta name="keywords" content="A PASSION PLAY (ef) Брюки деним+ПОДАРОК (2) 15W-250, Женская коллекция, купить, заказать, Москва, Волгоград, Воронеж, Екатеринбург, Иваново, Казань, Калуга, Краснодар, Курск, Нижний Новгород, Ростов-на-Дону, Рязань, Самара, Старый Оскол, Тамбов, Тольятти, Тула, Тюмень, Ульяновск, Чебоксары, Челябинск, Ярославль, 5KarmaNov, 5Карманов">
    <title>Женская коллекция - 5 карманов</title>
    <link href="http://karman.dev.magwai.ru/favicon.ico" rel="favicon">
    <link href="http://karman.dev.magwai.ru/ru/catalog/woman/rubric/bryuki_denim/eurofashion_bryu136" hreflang="ru" rel="alternate">
    <link href="http://karman.dev.magwai.ru/en/catalog/woman/rubric/bryuki_denim/eurofashion_bryu136" hreflang="en" rel="alternate">
    <link href="http://karman.dev.magwai.ru/pc/css/ead64.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://karman.dev.magwai.ru/zkernel/js/cufon.js"></script>
    <script type="text/javascript" src="http://karman.dev.magwai.ru/js/font.js"></script>
    <script type="text/javascript" src="http://karman.dev.magwai.ru/pc/js/beb64.js"></script>
    <script type="text/javascript">
      try {
      $(function() {
      kr.init({
      "lang": "ru",
      "region": "119"
      });
      });
      $(function() {
      kr.init_filter();
      });
      $(function() {
      kr.init_ware_pic_scroll();
      kr.init_check_form();
      });
      $(function() {
      kr.init_zoom();
      });
      } catch (e) {}
    </script>
    <link href="http://karman.dev.magwai.ru/royalslider/css/royalslider.css" rel="stylesheet">
    <link href="http://karman.dev.magwai.ru/royalslider/css/rs-default.css" rel="stylesheet">
    <script src="http://karman.dev.magwai.ru/royalslider/js/jquery.royalslider.min.js"></script>
    <link rel="stylesheet" href="plugins/jscrollpane/jquery.jscrollpane.css">
    <link rel="stylesheet" href="styles/test.css">
  </head>
  <body>
    <div id="measurer"></div>
    <div id="container">
      <div class="bg_top"></div>
      <div class="layout">
        <div class="auto">
          <div class="top">
            <div class="header"><a class="logo" href="http://karman.dev.magwai.ru/" title="5 карманов" target="_blank"></a>
              <div class="basket_label">
                <div class="cart-widget">
                  <div class="cart-widget__top-row"></div>
                  <div class="cart-widget__inner">
                    <div class="cart-widget__products">
                      <div class="cart-goods">
                        <div class="js-scroll cart-goods__list">
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                          <div class="cart-goods__item">
                            <div class="cart-goods__item-view"><img class="scaling" src="//karman.dev.magwai.ru/pc/catalogpic_title/342x342_new__SQ39887_2.jpg?1463733120">
                            </div>
                            <div class="cart-goods__item-info"><span>3100 руб.</span>Сумка Wrangler<br>арт. 9023193</div>
                            <div class="cart-goods__item-del">X</div>
                          </div>
                        </div>
                        <div class="cart-goods__footer">
                          <div class="cart-goods__count">И еще 4 товаров</div>
                          <div class="cart-goods__summ">Итого:<span>18600 руб.</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-widget__btn-1"><a class="cart-confirm-btn" href="checkout.html">Оформить</a></div>
                    <div class="cart-widget__btn-2"><a class="cart-btn" href="javascript:void(0)">
                        <div class="cart-btn__inner">Корзина</div>
                        <div class="cart-btn__label">6</div></a></div>
                  </div>
                </div>
              </div>
              <div class="order_check_status"><a class="popup login-btn fancybox.ajax" href="ajax/popup-acc.html">Войти</a></div>
              <div class="contact">
                <div class="grad phonelabel">Главный офис, г. Москва:</div>
                <div class="grad phone">+7 (495)<strong>708-40-34</strong></div>
              </div>
            </div>
            <div class="menu_top">
              <ul class="navigation">
                <li class="active"><a href="javascript:void(0)">Женская коллекция</a></li>
                <li><a href="javascript:void(0)">Мужская коллекция</a></li>
                <li><a href="javascript:void(0)">Бренды</a></li>
                <li><a href="javascript:void(0)">Новости и акции</a></li>
                <li><a href="javascript:void(0)">Магазины</a></li>
              </ul>
              <div class="pocket"></div>
            </div>
          </div>
          <div class="content">
            <div class="bah_rp">
              <div class="bah_t"></div>
              <div class="bah_m">
                <div class="bread"><a href="javascript:void(0)">Главная</a> / 
                </div>
                <h1 class="h1_title">Оформление заказа</h1>
                <div class="checkout">
                  <form class="no-transform" action="">
                    <div class="checkout__row">
                      <div class="half checkout__col">
                        <div class="checkout__title">Информация о покупателе</div>
                        <input class="input-style checkout__input" type="text" name="name1" autocomplete="name" placeholder="Имя">
                        <input class="js-tel input-style checkout__input" type="tel" name="phone" autocomplete="tel" placeholder="Телефон">
                        <input class="input-style checkout__input" type="email" name="email" autocomplete="email" placeholder="Электронная почта">
                        <textarea class="input-style" name="comment" placeholder="Комментарий"></textarea>
                      </div>
                      <div class="half checkout__col checkout__col_pad_left">
                        <div class="checkout__title">Способ доставки</div>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="delivery" checked><span>Курьерская доставка</span>
                                        </label>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="delivery"><span>Пункт самовывоза</span>
                                        </label>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="delivery"><span>Доставка до нашего магазина</span>
                                        </label>
                        <div class="checkout__title checkout__title_mar_top">Способ оплаты</div>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="payment"><span>Оплата онлайн</span>
                                        </label>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="payment" checked><span>Наличными</span>
                                        </label>
                                        <label class="checkbox checkout__checkbox">
                                          <input type="radio" name="payment"><span>Оплата картой</span>
                                        </label>
                      </div>
                    </div>
                    <hr class="hr">
                    <div class="checkout__row">
                      <div class="half checkout__col">
                        <select class="styled-select" name="select1">
                          <option value="1">Ваш город</option>
                          <option value="2">Город 1</option>
                          <option value="3">Город 2</option>
                          <option value="4">Город 3</option>
                        </select>
                        <input class="input-style checkout__input" type="text" name="address" autocomplete="shipping street-address" placeholder="Улица*" required>
                      </div>
                      <div class="half checkout__col">
                        <input class="input-style checkout__input" type="text" name="name2" autocomplete="name" placeholder="Фамилия Имя*" required>
                        <div class="checkout__row">
                          <div class="third checkout__col">
                            <input class="input-style checkout__input" type="text" name="house" placeholder="Дом*" required>
                          </div>
                          <div class="third checkout__col">
                            <input class="input-style checkout__input" type="text" name="corp" placeholder="Корпус">
                          </div>
                          <div class="third checkout__col">
                            <input class="input-style checkout__input" type="text" name="flat" placeholder="Квартира">
                          </div>
                        </div>
                      </div>
                      <div class="checkout__col">
                        <textarea class="input-style" name="comment" placeholder="Комментарий"></textarea>
                      </div>
                    </div>
                    <div class="checkout__result">Стоимость доставки: <span>1200 руб.</span></div>
                    <hr class="hr">
                    <div class="checkout__result">Итого к оплате: <span>1200 руб.</span></div>
                    <div class="text-center">
                      <button class="confirm-btn" type="submit">Оформить</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="bah_b"></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="fake"></div>
        </div>
        <div class="bottom">
          <div class="menu_bottom">
            <ul class="navigation">
              <li><a href="javascript:void(0)">О компании</a></li>
              <li><a href="javascript:void(0)">Вакансии</a></li>
              <li><a href="javascript:void(0)">Контакты</a></li>
              <li><a href="javascript:void(0)">FAQ</a>
                <ul class="level2">
                  <li class="bottom_menu_top"></li>
                  <li><a href="javascript:void(0)">Обратная связь</a></li>
                  <li><a href="javascript:void(0)">Частые вопросы</a></li>
                  <li><a href="javascript:void(0)">Результаты СОУТ</a></li>
                  <li class="bottom_menu_bottom"></li>
                </ul>
              </li>
            </ul>
            <div class="soc_list"><a href="javascript:void(0)" alt="vk" title="vk"><img src="http://karman.dev.magwai.ru/upload/soc_pic/vkontakte_64.gif"></a><a href="javascript:void(0)" alt="twitter" title="twitter"><img src="http://karman.dev.magwai.ru/upload/soc_pic/twitter_64.gif"></a><a href="javascript:void(0)" alt="foursquare" title="foursquare"><img src="http://karman.dev.magwai.ru/upload/soc_pic/foursquare_64.gif"></a><a href="javascript:void(0)" alt="odnoklassniki" title="odnoklassniki"><img src="http://karman.dev.magwai.ru/upload/soc_pic/logo_odn.png"></a></div>
          </div>
          <div class="copy_left">2016 © 5 карманов<br>Все права защищены.
            <script type="text/javascript">
              var yaParams = { /*Здесь параметры визита*/ };
              if (typeof(yaParams1) != 'undefined') yaParams = yaParams1;
            </script>
            <script type="text/javascript">
              (function(d, w, c) {
              (w[c] = w[c] || []).push(function() {
              try {
              w.yaCounter21829921 = new Ya.Metrika({
              id: 21829921,
              webvisor: true,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              params: window.yaParams
              });
              } catch (e) {}
              });
              var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function() {
              n.parentNode.insertBefore(s, n);
              };
              s.type = "text/javascript";
              s.async = true;
              s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
              if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
              } else {
              f();
              }
              })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
              <div><img src="http://karman.dev.magwai.ru//mc.yandex.ru/watch/21829921" style="position:absolute; left:-9999px;" alt=""></div>
            </noscript>
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-16631847-7']);
              _gaq.push(['_trackPageview']);
              (function() {
              var ga = document.createElement('script');
              ga.type = 'text/javascript';
              ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(ga, s);
              })();
            </script>
          </div>
          <div class="copy_right"><a href="javascript:void(0)">Разработка сайта <span>Магвай</span></a></div>
          <div class="sitemaplink"><a href="javascript:void(0)">Карта сайта</a></div>
        </div>
        <div class="bg_bottom2"></div>
        <div class="bg_bottom"></div>
      </div>
    </div>
    <link href="https://clients.streamwood.ru/StreamWood/sw.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://clients.streamwood.ru/StreamWood/sw.js" charset="utf-8"></script>
    <script type="text/javascript">
      swQ(document).ready(function() {
      swQ().SW({
      swKey: 'bd0feb7098b8bf044d4f6eece41e349a',
      swDomainKey: '01c4e4f67bddc09a4d8242f51098980a'
      });
      swQ('body').SW('load');
      });
      
    </script>
    <script src="plugins/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script src="plugins/image-scale.min.js"></script>
    <script src="plugins/delete-me.js"></script>
    <script src="plugins/phone-mask.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>

app/tamplates/checkout.jade

extends _layout
block content
	+bread(['Главная'])
	+title('Оформление заказа')

	mixin checkbox(labelText, name)
		label.checkbox(elem="checkbox")
				input(type="radio", name=name)&attributes(attributes)
				span=labelText

	div(block="checkout")
		form.no-transform(action="")
			div(elem="row")
				div.half(elem="col")
					div(elem="title") Информация о покупателе
					input.input-style(elem="input" type="text" name="name1" autocomplete="name" placeholder="Имя")
					input.js-tel.input-style(elem="input" type="tel" name="phone" autocomplete="tel" placeholder="Телефон")
					input.input-style(elem="input" type="email" name="email" autocomplete="email" placeholder="Электронная почта")
					textarea.input-style(name="comment" placeholder="Комментарий")
				div.half(elem="col" mod="pad:left")
					div(elem="title") Способ доставки
					+checkbox('Курьерская доставка', 'delivery')(checked)
					+checkbox('Пункт самовывоза', 'delivery')
					+checkbox('Доставка до нашего магазина', 'delivery')
					div(elem="title" mod="mar:top") Способ оплаты
					+checkbox('Оплата онлайн', 'payment')
					+checkbox('Наличными', 'payment')(checked)
					+checkbox('Оплата картой', 'payment')
			hr.hr
			div(elem="row")
				div.half(elem="col")
					select.styled-select(name="select1")
						option(value="1") Ваш город
						option(value="2") Город 1
						option(value="3") Город 2
						option(value="4") Город 3
					input.input-style(elem="input" type="text" name="address" autocomplete="shipping street-address" placeholder="Улица*" required="")

				div.half(elem="col")
					input.input-style(elem="input" type="text" name="name2" autocomplete="name" placeholder="Фамилия Имя*" required="")
					div(elem="row")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="house" placeholder="Дом*" required="")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="corp" placeholder="Корпус")
						div.third(elem="col")
							input.input-style(elem="input" type="text" name="flat" placeholder="Квартира")
				div(elem="col")
					textarea.input-style(name="comment" placeholder="Комментарий")
			div(elem="result")
				| Стоимость доставки: 
				span 1200 руб.
			hr.hr
			div(elem="result")
				| Итого к оплате: 
				span 1200 руб.
			.text-center
				button.confirm-btn(type="submit") Оформить
